# Entornos virtuales
venv/
.env
*.env
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Archivos de configuración de editores
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Compilaciones
dist/
build/
*.egg-info/