fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-jose[cryptography]
passlib[bcrypt]>=1.7.4  # Especifica una versión mínima o simplemente deja passlib[bcrypt]
python-dotenv
python-multipart